.cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 2em 8em;
    background-color: rgba(0, 0, 0, .7);
    color: var(--branco);
    position: absolute;
    width: 100vw;
}

.cabecalho__itens {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 1em;
}

.cabecalho__link {
    color: var(--branco);
    text-decoration: none;
    transition: all .3s;
}

.cabecalho__link:hover {
    opacity: .5;
}

.cabecalho__botao {
    padding: .5em 2em;
    border-radius: 30px;
    background-color: none;
    border: 2px solid var(--branco);
    color: var(--branco);
    font-weight: 700;
    text-decoration: none;
    transition: all .3s;
}

.cabecalho__botao:hover {
    background-color: var(--branco);
    border-color: var(--preto);
    color: var(--preto);    
}

