.servicos {
    display: flex;
    flex-direction: column;
}

.servicos-caixa__link {
    text-decoration: none;
    color: var(--branco);
    transition: all .3s;
}

.servicos-caixa__link:hover {
    opacity: .7;
}

.servicos__titulo {
    font-size: 3em;
    margin: 2em;
    font-weight: 500;
}

.servicos-caixas {
    display: flex;
    justify-content: space-evenly;
}

.servicos-caixa {
    color: var(--branco);
}

#caixa1, #caixa2, #caixa3 {
    padding: .5em 1em;
    width: 7em;
    height: 12em;
    font-size: 3em;
    margin-bottom: 2em;
}

#caixa1 {
    background-color: var(--verde-escuro);
    background-image: url(/img/chale.jpg);
}

#caixa2 {
    background-color: var(--azul-caixa);
    background-image: url(/img/sobreNos1.jpg);
}

#caixa3 {
    background-color: var(--laranja);
    background-image: url(/img/kitesurf.jpg);
}
