.sobre-nos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin-bottom: 4em;
}

.circulo-laranja {
    color: var(--laranja);
    font-size: 3em;
}

.sobre-nos__titulo {
    font-weight: 400;
}

.sobre-nos__link {
    text-decoration: none;
    color: var(--branco);
    font-weight: 600;
    padding: .5em 2em;
    background-color: var(--verde-escuro);
    border-radius: 25px;
    transition: .3s;
}

.sobre-nos__link:hover {
    background-color: var(--preto);
}
