@import url(/css/home.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --branco: #fff;
    --preto: #000;
    --vermelho: #f00;
    --verde: #0f0;
    --azul: #00f;
    --preto-fosco: #241F1F;
}

body {
    font-family: 'Poppins', sans-serif;
    width: 100vw;
    height: 100vh;
}
