@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import url(/css/cabecalho.css);
@import url(/css/home.css);
@import url(/css/servicos.css);
@import url(/css/sobreNos.css);
@import url(/css/detalhes.css);

:root {
    --branco: #fff;
    --preto: #000;
    --preto-fosco: #1A120B;
    --preto-fundo: #313338;
    --cinza: #636363;
    --cinza-fundo: #f8f7f1;
    --vermelho: #f00;
    --verde: #0f0;
    --verde-escuro: rgb(12, 111, 12);
    --azul: #00f;
    --azul-caixa: #2C74B3;
    --laranja: #FF6E31;
    --areia-fundo: #F6F7C1;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--areia-fundo);
}
